.container{
    height: 74vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    padding: 1%;
    gap: 1%;
}

.leftSide{

    height: 100%;
    width: 40%;

    min-height: 90%;
    min-width: 40%;

    max-height: 100%;
    max-width: 40%;

    display: flex;
    flex-direction: column;
    gap: 2%;

   
}

.rightSide{

    height: 100%;
    width: 57%;

    min-height: 90%;
    min-width: 57%;

    max-height: 100%;
    max-width: 57%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;

}

.projectInfoHolder{
    background-color: white;

    height: 55%;
    width: 95%;
    padding: 2%;

    min-height: 50%;
    min-width: 95%;

    max-height: 50%;
    max-width: 95%;

    display: flex;
    flex-direction: column;
    gap: 10%;

    border-radius: calc(.5vw + .5vh);
    border: 1px solid black;
    cursor: pointer;
    
}

.projectInfoHolder:hover{
    border: 1px solid red;
}

.taskInfoHolder{
    background-color: white;

    height: 40%;
    width: 95%;
    padding: 2%;

    min-height: 40%;
    min-width: 95%;

    max-height: 40%;
    max-width: 95%;

    border-radius: calc(.5vw + .5vh);
    border: 1px solid black;

    font-family: Arial, Helvetica, sans-serif;
}

.projectTitle, .taskDashH1{
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 30%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vw + 2vh);

    overflow: hidden;
}

.taskDashStats{
    min-width: 100%;
    min-height: 70%;
    max-width: 100%;
    max-height: 70%;

    display: flex;
    flex-direction: row;
}

.taskBarHolder{
    min-width: 50%;
    min-height: 100%;
    max-width: 50%;
    max-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.taskBarHolder h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2.5vw + 2.5vh);
    color: #7B1113;
}

.taskInformation{
    min-width: 50%;
    min-height: 100%;
    max-width: 50%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskBarHolder p{
    font-size: calc(3vw + 3vh);
    color: #7B1113;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.taskNav{
    width: 100%;
    height: 10%;

    min-width: 100%;

    max-width: 100%;
    max-height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    gap: 3%;
}

.taskH1{
    width: 45%;
    height: auto;
    max-width: 70%;
    min-width: 45%;
    max-height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(2vw + 2vh);

    overflow: hidden;
}

.markComplete{
    all: unset;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;

    background-color: #6C3082;
    color: white;
    border: none;
    border-radius: calc(2vw + 2vh);
    font-size: calc(.5vw + .5vh);
    height: 50%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.markComplete{
    border: 2px solid #5cdb5c;
    color: #5cdb5c;
    background-color: white;

    transition: background-color .5s ease, color .5s ease;
}


.markComplete:hover{
    border: 2px solid white;
    background-color: #5cdb5c;
    color:white
}

.addTask{
    background-color: #7B1113;
    color: white;
    border: none;
    border-radius: calc(2vw + 2vh);
    font-size: calc(.5vw + .5vh);
    height: calc(2.5vw + 2.5vh);
    width: auto;

    justify-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.tasksContainer{
    height: 90%;
    width: 95%;

    min-height: 90%;
    min-width: 95%;
    max-height: 90%;
    max-width: 95%;
    margin-left: -5%;
    padding: 3%;
    padding-top: 0;


    display: flex;
    flex-direction: column;
    
    gap: 2%;

    overflow-y: scroll;
    overflow-x: hidden;
}


.taskInfo{
    min-width: 70%;
    min-height: 100%;
    max-width: 70%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    gap: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.taskInfo h1{
    font-size: calc(1.5vw + 1.5vh);
    color: #7B1113;
    max-width: 100%;
    max-height: 50%;

    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.taskInfo p{
    max-width: 100%;
    max-height: 50%;

    font-size: calc(1vw + 1vh);
}

.taskStatDate{
    max-width: 100%;
    max-height: 50%;
}



.taskStatDate{
    min-width: 40%;
    min-height: 100%;
    max-width: 40%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    gap: 50%;
}

.Link{
    all: unset;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;

    background-color: #7B1113;
    color: white;
    border: none;
    border-radius: calc(2vw + 2vh);
    font-size: calc(.5vw + .5vh);
    height: 50%;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Link button{
    font-size: calc(.5vw + .5vh);
    width: auto;
    height: auto;
}

.task{
    background-color: white;
    border: 1px solid black;
    border-radius: calc(.5vw + .5vh);
    min-width: 100%;
    min-height: 20%;
    max-height: 20%;
    max-width: 100%;
    padding: .8%;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.task:hover{
    border: 2px solid red;
}